[Unit]
Description=KMonad keyboard remapping service for %i
After=multi-user.target

[Service]
ExecStart=/usr/bin/kmonad /home/yonah/.config/kmonad/%i.kbd
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

